<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>à propos</h2>
<div class="summary">
	<h3 class="job-title">Développeur applications web & mobiles, certifié sur les technologies Microsoft</h3>
	<br>
	<p>Passionné, autonome, rigoureux avec un sens de l'écoute et du service renforcé par presque 10 ans d'expérience à travailler sur des projets web et mobiles dans diverses technologies, une expertise technique en constante progression grâce à une formation perpétuelle. Motivé par le besoin de faire toujours mieux et appuyé par de solides bases acquises lors de mon parcours, je prend plaisir à relever de nouveaux challenges.</p>
	
</div><!--//summary-->
</section><!--//section-->