 <div class="education-container container-block">
<h2 class="container-block-title">Formation</h2>
<div class="item">
    <h4 class="degree">Licence professionnelle</h4>
	<h4 class="subdegree">Analyse Concepteur de Système d'Information et de Décision</h4>
    <h5 class="meta">CNAM - Paris</h5>
    <div class="time">2008 - 2009</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Développeur informatique</h4>
	<h4 class="subdegree">Option Développement Web</h4>
    <h5 class="meta">AFPA - Nancy</h5>
    <div class="time">2005 - 2006</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">BAC STI Génie Mécanique</h4>
	<h4 class="subdegree">Option Productique mécanique</h4>
    <h5 class="meta">Lycée Henri Loritz - Nancy</h5>
    <div class="time">1997</div>
</div><!--//item-->
</div><!--//education-container-->