<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Expériences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Responsable Applications Mobiles</h3>
							<h4 class="job-subtitle">Lead mobile developer (Android &amp; Xamarin)</h3>
                            <div class="time">2011 - Aujourd'hui</div>
                        </div><!--//upper-row-->
                        <div class="company">Dicsit informatique, Nancy (FR)</div>
                    </div><!--//meta-->
                    <div class="details">
						
						<p>Responsable de la conception et du développement des applications mobiles de la société Dicsit Informatique faisant partie de la division e-Santé du <strong><a href="https://www.lacooperativewelcoop.com/" target="_blank">La Coopérative Welcoop</a></strong> ainsi que des services web d'interfaçage aux progiciels Microsoins et AntHADine.</p>
						<ul>
                            <li>Développement d’applications mobiles (Android &amp; Xamarin Forms)</li>
							<li>Développement d'application web en C# (ASP.NET) &amp; jQuery Mobile</li>
                            <li>Développement de service web WCF &amp; ASMX en C#</li>
                            <li>Développement d'API avec ASP.NET Web Api</li>
							<li>Suivi de clients, management, maintenance corrective et évolutive</li>
						</ul>
						
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Développeur PHP</h3>
							<h4 class="job-subtitle">Drupal developer</h4>
                            <div class="time">2009 - 2011</div>
                        </div><!--//upper-row-->
                        <div class="company">Freelance</div>
                    </div><!--//meta-->
                    <div class="details">
						<p>Conception et développement de sites internet.</li>
						<ul>
							<li>Développement de sites avec le CMS Drupal</li>
							<li>Développement de modules Drupal spécifiques</li>
						</ul>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Développeur PHP</h3>
							<h4 class="job-subtitle">Drupal &amp; CakePHP developer</h4>
                            <div class="time">2009 - 2009</div>
                        </div><!--//upper-row-->
                        <div class="company">Kalia Lei, Pantin (FR)</div>
                    </div><!--//meta-->
                    <div class="details">
						<p>Conception et développement de sites internet.</p>
						<ul>
							<li>Développement de sites avec le framework CakePHP</li>
							<li>Développement de sites avec le CMS Drupal</li>
							<li>Développement de modules Drupal spécifiques</li>
						</ul>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->