<section class="section projects-section">
	<h2 class="section-title"><i class="fa fa-archive"></i>Projets</h2>
	<div class="intro">
		<p>Bientôt une description de quelques projets...</p>
	</div><!--//intro-->
	
	<!--
	<div class="item">
		<span class="project-title"><a href="#hook">Velocity</a></span> - <span class="project-tagline">A responsive website template designed to help startups promote, market and sell their products.</span>
	</div>
	<div class="item">
		<span class="project-title"><a href="#" target="_blank">DevStudio</a></span> - 
		<span class="project-tagline">A responsive website template designed to help web developers/designers market their services. </span>
	</div>
	<div class="item">
		<span class="project-title"><a href="#" target="_blank">Tempo</a></span> - <span class="project-tagline">A responsive website template designed to help startups promote their products or services and to attract users &amp; investors</span>
	</div>
	<div class="item">
		<span class="project-title"><a href="#" target="_blank">Atom</a></span> - <span class="project-tagline">A comprehensive website template solution for startups/developers to market their mobile apps. </span>
	</div>
	<div class="item">
		<span class="project-title"><a href="#" target="_blank">Delta</a></span> - <span class="project-tagline">A responsive Bootstrap one page theme designed to help app developers promote their mobile apps</span>
	</div>
	-->
</section><!--//section-->